/*Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.
This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/*Added to avoid display of 'x' in textbox as we have to customize this for support in webbrowser control */
/*input[type=text]::-ms-clear {*/
/*display: none;*/
/*height:0;*/
/*width:0;*/
/*}*/

.body, .clearall, .fs-rule-details, input.k-textbox, .fsa-input-section-operator {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px !important;
  font-weight: normal;
  color: #000;
}

.section-header {
  font-size: 12px !important;
}

body, html, .fs-main-view {
  height: 100%;
}

.fs-main-page {
  height: 99.5%;
  overflow-x: inherit;
}

.overlayContainer {
  display: none;
}

.overlayBackground {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #808080;
  opacity: 0.3;
}

.overlayContent {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  font-weight: bold;
  height: 120px;
  width: 120px;
  z-index: 1000;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

.overlay-spinner {
  padding-bottom: 12px;
}

.overlay-text {
  font-family: Arial;
  font-weight: bold;
  font-size: 0.9375em;
}

/** for displaying x in textbox as default display is not working in webbrowser */
.clearable {
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center !important;
  border: 1px solid #999 !important;
  padding: 3px 18px 3px 4px !important;
  border-radius: 3px !important;
  transition: background 0.4s !important;
}

.clearable.x {
  background-position: right 5px center !important;
}

.clearable.onX {
  cursor: pointer !important;
}

.clearall-span {
  padding-left: 135px;
}

.clearall {
  font-size: 10px !important;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

#kendoSplitter {
  height: 100%;
  width: 99.8%;
  border: 1px solid #abadb3;
}

.k-splitter {
  position: relative;
  height: 100%

}

#top-content-kendo {
  border-bottom: 1px solid #abadb3;
  overflow: hidden;
}

#analysislower-kendo {
  border-top: 1px solid #abadb3;
  overflow-y: hidden;
}

/* Show/hide the vertical scrollbar in the grid automatically */
div.analysisKendoGridStyle .k-grid-content,
div.analysisLowerGridStyle-kendo .k-grid-content,
div.searchhistory-kendo .k-grid-content {
  /*overflow-y: auto;*/
}

div.k-grid th .k-button {
  display: none !important;
}

.fs-search-history {
  height: 45.5%;
}

.k-grid tr td:nth-last-child(-n+2) {
  border-bottom: 1px solid #f0f0f0;
}

.k-grid .k-grid-content {
  overflow-y: scroll;
}

.searchhistory-kendo {
  height: 100%;
}

.fs-full-height {
  height: 100%;
}

.analysisleftupper-kendo {
  display: inline-block;
  vertical-align: top;
  width: 224px;
  float: left;
  height: 100%;
}

.analysisrightupper-kendo {
  overflow: hidden;
  height: 100%;
}

.fs-upper-grid {
  border-top: 1px solid #abadb3;;
}

.analysislowerleft {
  overflow-y: auto;
  vertical-align: top;
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid #abadb3;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.analysislowerleft-inline {
  overflow-y: auto;
  vertical-align: top;
  float: left;
  display: inline;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.analysislowerright-kendo {
  overflow: hidden;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.analysisshowothershtml {
  word-break: break-all;
  width: 100%
}

.analysisLowerGridStyle-kendo {
  border: 0 solid #abadb3;
  margin-top: 3px;
}

.analysisLowerGridStyle-kendo > .k-grid-content > table > tbody > tr > td {
  cursor: default;
  word-wrap: break-word;
}

.k-list-container .k-list .k-item {
  white-space: nowrap;
}

.conditional-fields-style {
  cursor: pointer;
  text-decoration: underline;
}

/* IE9 disables transition when changing display,
 * so, we implemented css animation workaround.
 */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ngen-fs-bottom-tabs {
  height: 100%;
  padding: 0 2px 2px 2px !important;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ngen-fs-bottom-tabs .k-content.k-state-active {
  display: block;
  -webkit-animation: fadeIn 0.1s;
  animation: fadeIn 0.1s;
}

.analysislowerright-kendo > .ngen-fs-bottom-tabs > .nav, li {
  cursor: default;
}

.ngen-active-tab-margin {
  padding-bottom: 7px !important;
}

.fs-search-section-header {
  border-right: 1px solid #abadb3 !important;
  width: 208px;
}

.fs-results-section-header {
  border-right: 0px solid #abadb3 !important;
}

.fs-search-input-section {
  border-top: 1px solid #abadb3 !important;
  border-bottom: 1px solid #abadb3 !important;
  background-color: #efeeec;
  height: 155px;
  padding: 8px;
}

.fs-input-section {
  padding: 0;
}

.fs-clearall-container {
  padding-bottom: 4px;
  width: 183px;
  text-align: right;
}

.fs-input-container {
  text-align: center;
}

.fs-input-text-box {
  width: 183px !important;
  padding-bottom: 0px !important;
}

.searchinput {
  padding-right: 2px;
  padding-top: 13px;
  text-align: right;
}

.fsa-input-section-operator {
  font-size: 10px !important;
  color: #b4b4b4;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 30px;
  margin: 0;
}

.fs-results-details-section-header {
  border-bottom: 1px solid #abadb3 !important;
  border-right: 0px solid #abadb3 !important;
}

.fs-rule-details {
  padding: 8px 0 0 8px;
}

.fs-rule-details a {
  color: blue;
}

.fs-rule-details-channel {
  padding-right: 4px;
  /*height: 100%;*/
}

.fs-rule-details-others {
  font-weight: normal;
}

.fs-lower-right-tabs {
  height: 100%;
}

.fs-lower-right-tabs .heading {
  font-size: 12px !important;
  font-weight: bold;
}

.ngen-fs-tabstrip-backcolor {
  background-color: #fff;
}

.fs-lower-right-grid-div {
  /*border-left-width: 0px;*/
  /*border-top-width: 0px;*/
  border-bottom: 1px solid #abadb3 !important;
}

.fs-lower-right-grid-div .k-grid-content {
  overflow-y: scroll;
}

.fs-lower-right-grid-div tbody tr td {
  word-wrap: break-word;
}

.fs-lower-right-grid-div tbody tr:hover td {
  cursor: default !important;
}

.ngen-fs-tabstrip-grid {
  border: 1px solid #abadb3 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.ngen-tab-strip-a-tags {
  text-decoration: none !important;
}

.ngen-fs-tabstrip-grid a:hover, .ngen-fs-tabstrip-grid a:focus {
  text-decoration: none !important;
}

#searchHistoryGrid1 {
  border: 0px solid #abadb3 !important;
}

#upperGrid1 {
  border-bottom-width: 0px !important;
  border-right-width: 0px !important;
}

.k-tabstrip > .k-content {
  padding: 3px !important;
}

.k-tabstrip-items .k-item {
  box-shadow: none !important;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active,
.k-ie7 .k-tabstrip-items .k-state-active .k-loading {
  border-color: #abadb3 !important;
}

.k-tabstrip-wrapper .k-item:not(.k-state-active) {
  margin-top: 6px !important;
}

.k-item.k-state-default.k-state-active {
  top: 2px !important;
  margin-bottom: -6px !important;
}

.k-tabstrip-wrapper :not(.k-state-active).k-item {
  border-bottom-width: 0px !important;
}

.fsa-search-icon {
  margin: 0 0 0 5px;
}
