/* RESET */
.clearing { clear:both; height:0; }
.gridContainer * { margin:0; padding:0; }


input[type=button], button { border-radius:4px; border:1px solid #CCC; padding:4px 8px; background-color:#FFF; }
input[type=button]:hover, button:hover { background-color: #EEE; border: 1px solid #808080; }

#grid { width: 100%; margin-top:10px; }
#grid tbody tr:hover, .selectedGridRow { background: #CCC; opacity: 0.7; }

.MENU { width: 30px; }
.id { width: 250px; }

.text { white-space: nowrap; }
.enabledColumn { width:70px; text-align:center; }
.descriptionColumn { width: 300px; }
.modifiedByColumn { width:150px; }
.modifiedDateColumn { width: 180px; }
#gridTooltipActions { text-align: left; }
#fileUpload { border:1px solid #EEE; margin:8px 0; text-align:center; display:none; padding: 10px; float:none; }
#fileUpload p { text-align:center; }
#importButton { float:right; cursor:pointer; }
.fileDetails { display:none; margin-top: 50px; margin-left: 8px; }
.fileDetails input[type=text], .fileDetails textarea { width: 95%; border:1px solid #CCC; margin-bottom:4px; }
#standardFormsListContainer { height:330px; width:97%; border: 1px solid #ccc; overflow:scroll; padding:8px; }
.listView { list-style-type: none; margin:0; padding:0; border:0; }

/**** KENDO OVERRIDES ****/
.k-tooltip { border-radius: 0; }
.k-dropzone-hovered { background-color:#0094ff; color:#FFF; }
.k-dropzone em { visibility:visible; }
.k-dropzone { border: 4px dashed #ccc; margin-bottom: 8px; padding: 40px; }
.k-window { min-width: 250px; min-height: 150px; }
.k-file { border-width: 1px; display: inline-block; width:20%; font-size:10px; margin-right: 8px; } /* height:70px; */
.k-file-error .k-progress { border:1px solid #ff0000; background-color:#ff8a8a; }
.k-file-progress .k-progress { background-color:#0094ff; }
#fileUpload .k-header { background:none; }
#fileUpload .k-widget { border:0; }
.k-file-error .k-i-refresh { display:none; }
.k-file-success { height: 250px; }
.k-file-error .k-progress span { margin-top:45px;margin-left:10px; display: block; }

/*grid*/
.k-pager-numbers .k-link, .k-pager-numbers .k-link:hover, .k-pager-numbers .k-state-selected { border-radius: 4px; }
.k-pager-wrap > .k-link { border-radius: 4px; float:right; }
.k-pager-sizes { float: right; }
.k-grid .k-pager-numbers { float:none; }
.k-pager-input { float: right; padding:0 8px; }
.k-pager-info { float:left; }
.k-pager-numbers li .k-link { border:1px solid #808080; border-radius: 4px; }
.k-pager-nav { border:1px solid #808080; border-radius: 4px; }
#em-pager-nav { float:right; padding-right: 20px; }

