.entry { border: 1px solid #CCC; width: 20px; }

/* ICONS */
.b-new { background-image: url('../images/new-page.png'); }
.b-open { background-image: url('../images/page.png'); }
span.gearButton { float:right; background:url("../images/gear.png") no-repeat; height:16px; width:16px; cursor:pointer; }
span.handleButton { float:left; background:url("../images/handle.png") no-repeat; height:16px; width:16px; cursor:move; }
span.menuButton { float:right; background:url("../images/menu.png") no-repeat; height:16px; width:16px; cursor:pointer; }
span.closeButton { float:right; background:url("../images/close.png") no-repeat; height:16px; width:16px; cursor:pointer; }

span.detailButton { float:right; background:url("../images/details.png") no-repeat; height:16px; width:16px; cursor:pointer; }

img.resizeButton { float:right; background:url("../images/details.png"); height:16px; width:16px; cursor:pointer; }
img.moveButton { float:right; background:url("../images/upload.png"); height:16px; width:16px; cursor:pointer; }
img.editButton { float:right; background:url("../images/edit.png"); height:16px; width:16px; cursor:pointer; }

/* WORKSPACE */
#workspaceHeader { width:100%;  }
.cog-Button{ background:url("../images/gear.png");height:16px; width:16px; cursor:pointer;float: right; }
#workspaceContainer { min-height:800px;background-color:#fcfcfc; border:1px dotted #E0E8E8;display:block; margin-top:10px;padding:2px; }
#builderWorkspace { border-color: #ccc; border-style: solid; border-width: 0 1px 1px; display: block; margin: 0 60px 10px; padding: 8px; }
.fixedHeader { position:fixed; top:0; left:0; z-index:100000; }

/* WORSKPACE GRID */
.workspace .gridContainer ul.gridListContainer { background-color: #FFF; width:100%; list-style-type: none; }
.workspace .gridContainer li.grid_panel { font-size: 1em; font-weight: bold; text-align: center; line-height: 100%; }
.workspace .gridContainer { margin: 0 auto; opacity: .8; -webkit-transition: opacity .6s; -moz-transition: opacity .6s; -o-transition: opacity .6s; transition: opacity .6s;clear: both; }
.workspace .gridContainer .gs-w { background: #FFF; cursor: default; border:1px solid #10A2D7; background-color:#D6EFFA; }
.workspace .gridContainer .player { background: #BBB; }
.workspace .gridContainer .preview-holder { border: 1px dashed #999!important; background: #EEE!important; }
.workspace .gridContainer li .gridPanelHeader { display: block; color:#000; line-height: normal; padding: 0 4px 0 0; cursor:default; height: 20px; }
.workspace .gridContainer li .gridPanelHeader span { margin:2px; padding:2px; }


/* CONTENT */
/*below classes gets toggled when control ribbon expand/collapse happens*/
.contentUp{margin-top:170px !important;display: block; float: left; width:100%; padding-bottom:20px; }
.contentDown{margin-top:74px !important;display: block; float: left; width:100%; padding-bottom:20px; }


/* FORM */
#formProperties { border:1px solid #E0E8E8; }
#formPropertiesHeader { padding:8px; margin:0; }
#formPropertiesHeader #formNameText { color:#000; font-weight:bold; }
#formPropertiesHeader #propertyCollapse { float:right; }
#formPropertiesPanel ul { margin:0; padding:0; list-style-type:none; }
#formPropertiesPanel li { padding: 8px; margin:0; }
.field-textarea { height:80px; width:100%; border:1px solid #CCC; padding:2px; border-radius:4px; font-size:14px; }
.field-text { border:1px solid #CCC; padding:2px; border-radius:4px; font-size:14px; }
#formPropertiesPanel li label { padding-right:10px; text-align:right; }
#formPropertiesPanel span { display: block; }
#formEnabledField { float:right; font-size: 14px; margin-right:30px; }
.inlineField { border:1px solid #10A2D7; cursor:pointer; }

/* DROPPABLE */
.fieldContainer { padding:2px; min-height:90%; }

/* jQuery UI */
.selectableControl .ui-selecting { border:1px solid #F39814; color: #000; }
.selectableControl .ui-selected { border:1px solid #F39814; color: #000; }

.selectedContainer { border:3px solid green; }
.selectedElement { border:1px solid green; }

/* CONTROLS */


#openFormTabs { height:350px; border:0; background:none; }
#openFormTabs .tab { height:300px; }
#openFormTabs .tab ul { list-style-type: none; margin:0; padding:0; border:0; }

/* BUILDER CONTROLS */
/*
div[controlType] { border:1px solid #0678A6; }
div[controlType] label { border:1px solid #CCC; display:block;float:left; height:30px; width:100px; }
div[controlType] span { border:1px solid #CCC; display:block;float:left; background-color:#FFF; }
.default-control-label {  } //TODO: Figure this out
*/

.control_panel, div[controlType=panel] { height:100px; width:100px; border:1px solid #CCC; }

.container_TextBox { width:252px; height:32px; }
.container_TextBox label { border:1px solid #CCC; display:block; float:left; height:30px; width:100px; padding: 6px; text-align:left; }
.container_TextBox span { border:1px solid #CCC; display:block; float:left; height:30px; width:150px; }

.container_MultilineTextBox { display:block; height:152px; width:352px; }
.container_MultilineTextBox label { border:1px solid #CCC; display:block; float:left; height:150px; width:100px; padding: 6px; text-align:left; }
.container_MultilineTextBox span { border:1px solid #CCC; display:block; float:left;  height:150px; width:250px }

.container_Dropdown { display:block; height:32px; width:282px; }
.container_Dropdown label { border:1px solid #CCC; display:block; float:left; height:30px; width:100px; padding: 6px; text-align:left; }
.container_Dropdown span.control_Dropdown { border:1px solid #CCC; display:block; float:left; height:30px; width:150px; }
.container_Dropdown span.icon_Dropdown { border:1px solid #CCC; display:block; float:left; height:30px; width:30px; }

.container_Calendar { display:block; height:32px; width:282px; }
.container_Calendar label { border:1px solid #CCC; display:block; float:left; height:30px; width:100px; padding: 6px; text-align:left; }
.container_Calendar span.control_Calendar { border:1px solid #CCC; display:block; float:left; height:30px; width:150px; }
.container_Calendar span.icon_Calendar { border:1px solid #CCC; display:block; float:left; height:30px; width:30px; }

.container_FieldLock { display:block; height:32px; width:282px; }
.container_FieldLock label { border:1px solid #CCC; display:block; float:left; height:30px; width:100px; padding: 6px; text-align:left; }
.container_FieldLock span.control_FieldLock { border:1px solid #CCC; display:block; float:left; height:30px; width:150px; }
.container_FieldLock span.icon_FieldLock { border:1px solid #CCC; display:block; float:left; height:30px; width:30px; }

.control_Button { border:1px solid #CCC; display:block; height:30px; width:120px; border-radius:4px; background-color:#999; color:#FFF; }
.control_ImageButton { border:1px solid #CCC; display:block; height:30px; width:120px; border-radius:4px; background-color:#999; color:#FFF; }

.container_Checkbox { border:1px solid #CCC; display:block; height:32px; width:152px; }
.container_Checkbox ul.list_Checkbox { margin:0; padding:0; list-style-type:none; background-color:transparent; }
.container_Checkbox ul.list_Checkbox li { line-height:100%; }
.container_Checkbox ul.list_Checkbox li span { border:1px solid #CCC; display:block; float:left; height:20px; width:20px;margin:5px; background-color:#FFF; }
.container_Checkbox ul.list_Checkbox li label { display:block; float:left; height:30px; width:120px; padding: 6px; text-align:left; }

.container_RadioButton { border:1px solid #CCC; display:block; height:32px; width:152px; }
.container_RadioButton ul.list_RadioButton { margin:0; padding:0; list-style-type:none; background-color:transparent; }
.container_RadioButton ul.list_RadioButton li { line-height:100%; }
.container_RadioButton ul.list_RadioButton li span { border:1px solid #CCC; display:block; float:left; height:20px; width:20px;margin:5px; background-color:#FFF; border-radius:10px; }
.container_RadioButton ul.list_RadioButton li label { display:block; float:left; height:30px; width:120px; padding: 6px; text-align:left; }

.control_Image { border:1px solid #CCC; display:block; height:80px; width:80px; }
.control_Paragraph { border:1px solid #CCC; display:block;  height:75px; width:200px; text-align:left; }

.control_Borrower { border:2px ridge #CCC; display:block; height:30px; width:30px; }
.control_Contact { border:2px outset #CCC; display:block; height:30px; width:30px; }
.control_Rolodex { border:3px double #CCC; display:block; height:30px; width:30px; }

/* PROPERTY */
#propertiesPanel { width: 100%; }
.property { height: 100px; border:1px dotted #FFF; }
.grid_container .ui-state-hover {opacity: 0.5}

/* UI PROPERTY TESTING CONTAINER*/
#testing-container {position: fixed;width: 1px;height: 1px;opacity: 0;}
