<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="standard-form-window">

    <div class="ngen-bordered-container ngen-full-width">
      <!--popup-content-header//-->
      <div class="popup-content-header section-header">
        <span class="pull-left">Standard Form Names</span>
      </div>
      <!--popup-content-body//-->
      <div class="popup-content-body ngen-full-width">
        <div id="standardFormsListContainer">
          <!-- Convert to Angular version-->
          <ul id="standardFormsListView" kendo-list-view k-options="vm.option" class="listView">
            <li k-template class="form_title">{{dataItem.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <div class="pull-right">
        <button id="windowCloseButton"
               ng-click="vm.CloseStandardWindowPopUp();"
               tabindex="2">Cancel</button>
        <button id="openFormButton" tabindex="1"
               ng-click="vm.openSelectedForm();"
               ng-disabled="vm.isOpenButtonDisabled">Open</button>
      </div>
    </div>
  </div>
</div>



