<script id="scriptTemplate_gridpanel" type="text/x-kendo-template">
    <li id="grid-panel_#=guid#" class="grid_panel">
        <div class="gridPanelHeader"  id="grid-panel-header_#=guid#">
            <span class="handleButton"></span>
            <span class="closeButton" onclick="removeGridPanel('#=guid#');"></span>
            <span class="gearButton" id="grid-panel-property-tt_#=guid#"></span>
            <span class="detailButton" id="grid-panel-property-win_#=guid#"></span>
        </div>
        <div id="grid-panel-container_#=guid#" class="fieldContainer grid_container control-container"></div>
    </li>
</script>
