<script id="controlTemplate_list" type="text/x-kendo-template">
    <div id="container_#=controlId#" class="container_#=controlType#" controltype="#=controlType#" data-cid="#=cid#">
        <ul id="#=controlId#" class="list_#=controlType#">
            <li id="defaultItem_#=controlId#" class="default_listItem"><span id="defaultSelect_#=controlType=controlId#" class=""></span><label id="defaultLabel_#=controlType=controlId#">#=controlId#</label></li>
            # for (var i=0; i < data.length; i++) { #
            <li id="item_#=controldId#_#=i#">
                <span id="select_#=controlId#_#=i#" class="control_#=controlType#" data-value="#= data[i].value #" data-loading-text="#= data[i].text #"></span>
                <label id="label_#controlId#_#=i#" for="select_#=controlId#_#=i#">#= data[i].text #</label>
            </li>
            # } #
        </ul>
    </div>
</script>
