<div ng-controller="PipelineGridTemplatesController as vm">
  <ul kendo-context-menu k-show-on="'click'" k-filter="'.column-template-fields-317'" k-on-open="vm.contextMenuData()"
      class="no-wrap-text">
    <li class="section-header fix-section-header">
      <span class="dwi dwi-business-contact ngen-row-space-half"></span>
      <span>{{ vm.pipelineGridData.selected[0].Fields$317 }}</span>
    </li>
    <li class="k-separator k-item k-state-default" role="menuitem">&nbsp;</li>
    <li ng-show="vm.menuData.File_Contact_Loan_Officer_Phone"
        ng-click="vm.startConversation(false, true, vm.menuData.File_Contact_Loan_Officer_Phone)">
      W: {{ vm.menuData.File_Contact_Loan_Officer_Phone }}
    </li>
    <!-- Email -->
    <li ng-show="vm.menuData.File_Contact_Loan_Officer_Email"
        ng-click="vm.startConversation(true, true, vm.menuData.File_Contact_Loan_Officer_Email)">
      <span class="dwi dwi-email"></span>
      <span>{{ vm.menuData.File_Contact_Loan_Officer_Email}}</span>
    </li>
  </ul>
</div>
