<div ng-controller="PipelineGridTemplatesController as vm">
  <ul kendo-context-menu k-show-on="'click'" k-filter="'.column-template-lock-and-request-status'" k-on-open="vm.contextMenuData()">
    <li class="section-header fix-section-header">
      <span class="dwi ngen-row-space-half"
            ng-class="vm.lockAndRequestStatusIconMappings[vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus].icon"></span>
      <span>&nbsp;{{ vm.lockAndRequestStatusIconMappings[vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus].text
        || vm.dateDiff(vm.pipelineGridData.selected[0].Fields$762, false) }}</span>
    </li>
    <li class="k-separator k-item k-state-default" role="menuitem">&nbsp;</li>
    <!-- todo: verify if CurrentLockDate is correct here -->
    <li
      ng-show="vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-NoRequest'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Extension-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Cancellation-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Expired-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Cancelled'" class="no-hover">
      Lock Date: {{ vm.menuData.Lock_Date | date:'MM/dd/yyyy' }}
    </li>
    <li ng-show="vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'NotLocked-Request'" class="no-hover">
      Requested Date and Time: {{ vm.menuData.Request_Date_and_Time | date:'MM/dd/yyyy' }}
    </li>
    <li ng-show="vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'NotLocked-Request'" class="no-hover">
      Requested By: {{ vm.menuData.Requested_by }}
    </li>
    <!-- todo: verify if CurrentLockExpires is correct here -->
    <li
      ng-show="vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-NoRequest'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Extension-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Cancellation-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Expired-Request'
      || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Cancelled'" class="no-hover">
      Lock Expiration Date: {{ vm.menuData.Lock_Expiration_Date | date:'MM/dd/yyyy' }}
    </li>
    <!-- todo: CurrentLockClosing is incorrect here - figure out correct fileld -->
    <li class="no-hover">Expected Closing Date: {{ vm.menuData.Expected_Closing_Date | date:'MM/dd/yyyy' }}</li>
    <li class="dotted-separator" role="menuitem">&nbsp;</li>
    <li ng-click="vm.processEPassUrl('_EPASS_SIGNATURE;EPASSAI;2;Product+and+Pricing')">Search Product and Pricing</li>
    <li ng-click="vm.processEPassUrl('_EPASS_SIGNATURE;EPASSAI;2;Lenders')">Submit to Lender</li>
    <li ng-click="vm.openLoanForm('Lock Request Form')">Lock Request Form</li>
    <li ng-click="vm.showLockConfirmation()"
        ng-show="vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-NoRequest'
        || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Extension-Request'
        || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Expired-Request'
        || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Request'
        || vm.pipelineGridData.selected[0].Loan$LockAndRequestStatus === 'Locked-Cancellation-Request'">Lock Confirmation
    </li>
    <li ng-click="vm.openLoanForm('Secondary Registration')">Secondary Registration</li>
  </ul>
</div>
