<div ng-controller="PipelineGridTemplatesController as vm">
  <ul kendo-context-menu k-show-on="'click'" k-filter="'.column-template-fields-11'" k-on-open="vm.contextMenuData()">
    <li class="section-header fix-section-header">
      <span class="dwi dwi-house ngen-row-space-half"></span>
      <span>{{ vm.pipelineGridData.selected[0].Fields$11 }}</span>
    </li>
    <li class="k-separator k-item k-state-default" role="menuitem">&nbsp;</li>
    <li class="no-hover" ng-show="vm.menuData.Purchase_Price">Purchase Price: {{ vm.menuData.Purchase_Price }}</li>
    <li class="no-hover" ng-show="vm.menuData.Appraised_Value">
      Appraised Value: {{ vm.menuData.Appraised_Value }}
    </li>
    <li ng-show="vm.menuData && (vm.menuData.Purchase_Price || vm.menuData.Appraised_Value)" class="dotted-separator" role="menuitem">&nbsp;</li>
    <li ng-show="vm.menuData.Subject_Property_Street_Address" ng-click="vm.openMap()">View Map</li>
    <li ng-click="vm.processEPassUrl('_EPASS_SIGNATURE;EPASSAI;2;Appraisal')">Order Appraisal</li>
    <li ng-click="vm.processEPassUrl('_EPASS_SIGNATURE;EPASSAI;2;Title+%26+Closing')">Order Title</li>
  </ul>
</div>
