<div ng-controller="PipelineGridTemplatesController as vm">
  <ul kendo-context-menu k-show-on="'click'" k-filter="'.column-template-coborrower-name'" k-on-open="vm.contextMenuData()"
      class="no-wrap-text">
    <li class="section-header fix-section-header">
      <span class="dwi dwi-borrower-contact ngen-row-space-half"></span>
      <span>{{ vm.pipelineGridData.selected[0].Loan$CoBorrowerName }}</span>
    </li>
    <li class="k-separator k-item k-state-default" role="menuitem">&nbsp;</li>
    <li ng-show="vm.menuData.Co_Borrower_Home_Phone"
        ng-click="vm.startConversation(false, true, vm.menuData.Co_Borrower_Home_Phone)">
      H : {{ vm.menuData.Co_Borrower_Home_Phone }}
    </li>
    <li ng-show="vm.menuData.Co_Borrower_Work_Phone"
        ng-click="vm.startConversation(false, true, vm.menuData.Co_Borrower_Work_Phone)">
      W : {{ vm.menuData.Co_Borrower_Work_Phone }}
    </li>
    <li ng-show="vm.menuData.Co_Borrower_Cell_Phone" ng-click="vm.startConversation(false, true, vm.menuData.Co_Borrower_Cell_Phone)">
      C : {{ vm.menuData.Co_Borrower_Cell_Phone }}
    </li>
    <li ng-show="vm.menuData.Co_Borrower_Home_Email"
        ng-click="vm.startConversation(true, true, vm.menuData.Co_Borrower_Home_Email)">
      <span class="dwi dwi-email"></span>
      <span>{{ vm.menuData.Co_Borrower_Home_Email }}</span>
    </li>
    <li ng-show="vm.menuData.Co_Borrower_Work_Email"
        ng-click="vm.startConversation(true, true, vm.menuData.Co_Borrower_Work_Email)">
      <span class="dwi dwi-email"></span>
      <span>{{ vm.menuData.Co_Borrower_Work_Email }}</span>
    </li>
    <li ng-show="vm.menuData && (vm.menuData.Co_Borrower_Home_Phone || vm.menuData.Co_Borrower_Work_Phone || vm.menuData.Co_Borrower_Cell_Phone || vm.menuData.Co_Borrower_Home_Email || vm.menuData.Co_Borrower_Work_Email)" class="dotted-separator" role="menuitem">&nbsp;</li>
    <li ng-click="vm.processEPassUrl('_EPASS_SIGNATURE;EPASSAI;2;Credit+Report')">Order Credit</li>
    <span ng-show="vm.menuData.CoBorrowerContactGUID && vm.menuData.CoBorrowerContactGUID !== ''">
      <li ng-click="vm.createAppointment(vm.menuData.CoBorrowerContactGUID)">Create Appointment</li>
    </span>
  </ul>
</div>
