<div class="quick-edit-template">
  <div class="edit-label">
    <label for="FormName">Form Name</label>
  </div>
  <div class="edit-text">
    <input type="text" class="input-width k-input k-textbox" id="FormName" name="FormName" data-bind="value:Name">
    <label class="nameError"></label>
  </div>
  <div class="edit-label">
    <label for="Description">Description</label>
  </div>
  <div class="edit-text">
    <textarea class="input-width k-input k-textbox" maxlength="500" id="Description" name="Description" data-bind="value:Description"></textarea>
  </div>
  <div class="edit-label">
    <label for="Enabled">Enabled</label>
    <input type="checkbox" id="enabled" name="Enabled" data-bind="checked: Enabled"/>
  </div>
</div>
