<div class="quick-edit-template">
  <div class="edit-label">
    <label for="Title">Name</label>
  </div>
  <div class="edit-text">
    <input type="text" class="input-width k-input k-textbox" id="Title" name="Title" data-bind="value:Title">
    <label class="nameError"></label>
  </div>
  <div class="edit-label">
    <label for="Description">Description</label>
  </div>
  <div class="edit-text">
    <textarea class="input-width k-input k-textbox" maxlength="500" id="Description" name="Description" data-bind="value:Description"></textarea>
  </div>
  <div class="edit-label">
    <label for="Enabled">Externally Available</label>
    <input type="checkbox" id="enabled" name="Enabled" data-bind="checked: Enabled"/>
  </div>
</div>
