<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="add-field-window">

    <div class="ngen-bordered-container">
      <!--popup-content-body//-->
      <div class="popup-content-body">
        <div>
          <label class="ngen-pull-left ngen-pl-af-lbl">Field</label>
          <input type="text" ng-keyup="vm.onSearchContentKeyDown($event)" ng-model="vm.fieldName"
                 placeholder="Search Field" class="ngen-pl-af-search-input" tabindex="3"/>
          <button type="button" class="k-button ngen-pull-right ngen-pl-af-search-button" ng-click="vm.searchField()"
                  ng-class="{'k-state-disabled':!vm.fieldName}" ng-disabled="!vm.fieldName" tabindex="4">Find
          </button>
        </div>

        <div class="ngen-pl-af-grid-container ngen-pull-left">
          <div ngen-grid-navigation class="add-field-grid" k-navigatable="true"
               kendo-grid="vm.addFieldGrid" k-ng-delay="vm.fieldsLoaded"
               k-options="vm.addFieldGridOptions" tabindex="5">
          </div>
        </div>
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button is-default-enterkey-action="true" type="button" class="k-button"
              ng-class="{'k-state-disabled':!vm.selectedUID}"
              ng-disabled="!vm.selectedUID"
              ng-click="vm.addFieldOk()" tabindex="1">OK
      </button>
      <button type="button" class="k-button" ng-click="vm.addFieldCancel()" tabindex="2">Cancel
      </button>
    </div>

  </div>
</div>
