<div class="ngen-popup-content-container">
  <div class="loan-alert-window">
    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div ngen-grid-navigation class="grid-content" kendo-grid="vm.LoanMessagesGrid"
           k-options="vm.loanMessagesGridOptions" k-rebind="vm.loanMessagesData.items" >
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <div class="ngen-pull-right">
        <button class="alert-button-margin" ng-click="vm.closePopup()" kendo-button>Close</button>
      </div>
    </div>
  </div>

</div>
