<div class="ngen-popup-content-container" id="ngen-manage-alert">
  <div class="loan-alert-window">
    <!--popup-content-header//-->
    <div class="popup-content-header">
      <div class="ngen-popup-label">Select loan alerts to dismiss or snooze alerts to address later.</div>
      <div>
        <ul ng-show="!vm.disableAlertActions && vm.separatorRow" kendo-context-menu="vm.alertContextMenu"
            k-options="vm.gridAlertContextMenuOptions" class="ngen-context-menu">

          <li ng-click="vm.dismissAlertClicked()" ng-class="{'k-state-disabled': vm.dismissDisabled}"
              id="dismiss">Dismiss Alert
          </li>
          <li ng-click="vm.snoozeClicked()" ng-class="{'k-state-disabled':vm.snoozeDisabled}" id="snooze">Snooze</li>
          <li ng-click="vm.reactiveClicked()" ng-class="{'k-state-disabled': vm.reactivateDisabled}"
              id="reactive">Reactivate
          </li>
        </ul>
      </div>
    </div>

    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div ngen-grid-navigation class="grid-content" kendo-grid="vm.LoanAlertGrid"
           k-options="vm.loanAlertGridOptions" k-on-change="vm.gridSelectionChange(data)"
           k-rebind="vm.loanAlertData.items" k-selectable="'multiple row'" k-navigatable="true">
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <div class="ngen-pull-left">
        <button kendo-button ng-click="vm.dismissAlertClicked()"
                ng-disabled="vm.dismissDisabled">Dismiss Alert
        </button>
      </div>
      <div class="ngen-pull-right ngen-snooze-ctrls-container">
        <div class="ngen-pull-left"><p>Snooze alert for</p></div>
        <div class="ngen-pull-left alert-snooze-dropdown" kendo-drop-down-list="vm.loanAlertSnoozeDropdown"
             ng-model="vm.selectedSnoozedTime"
             k-options="vm.loanAlertSnoozeDropdownOptions"
             ng-disabled="vm.snoozeDisabled">
        </div>
        <button class="alert-button-margin" ng-click="vm.snoozeClicked()" kendo-button
                ng-disabled="vm.snoozeDisabled">Snooze
        </button>
      </div>
    </div>
  </div>

</div>
