<div ng-controller="LoanFolderController as vm">
  <div class="ngen-label">Loan Folder</div>

  <div class="loan-folder-dropdown" kendo-drop-down-list="vm.loanFolderDropdown" k-on-change="vm.loanFolderChanged()"
       k-options="vm.loanFolderDropdownOptions" ng-model="vm.dataStore.LoanFolderDropdownData.selectedItem"
       tabindex="7"></div>

  <div class="ngen-label">View</div>

  <div class="loan-view-dropdown" kendo-drop-down-list="vm.loanViewDropdown" k-on-change="vm.loanViewChanged()"
       k-options="vm.loanViewDropdownOptions" k-ng-model="vm.dataStore.LoanViewDropdownData.selectedItem"
       tabindex="8"></div>

  <div class="ngen-label">Company</div>

  <div class="loan-company-dropdown" kendo-drop-down-list="vm.companyViewDropdown" k-on-change="vm.companyViewChanged()"
       k-options="vm.companyViewDropdownOptions" k-ng-model="vm.dataStore.CompanyViewDropdownData.selectedItem"
       tabindex="9"></div>

  <input class="loan-company-filter" type="text" readonly="readonly" ng-model="vm.dataStore.externalOrg.name"
         ng-disabled="vm.dataStore.CompanyViewDropdownData.selectedItem.id !== 'TPO'"
         tabindex="10">

  <button type="button" class="dwi dwi-search dwi-search-hov dwi-search-dis"
          ng-disabled="vm.dataStore.CompanyViewDropdownData.selectedItem.id !== 'TPO'"
          ng-click="vm.showTPOCompaniesPopUp()" tabindex="11"></button>

</div>

