<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="customize-columns-window">

    <div class="ngen-bordered-container">
      <!--popup-content-header//-->
      <div class="popup-content-header section-header">
        <span class="ngen-pull-left">Selected Columns</span>
        <button
            class="dwi dwi-arrow-down dwi-arrow-down-hov dwi-arrow-down-dis ngen-pull-right ngen-margin-left-5px ngen-bg-color-transparent"
            title="Move Down" ng-click="vm.moveDown()" ng-disabled="vm.moveDownAccessMode">
        </button>
        <button class="dwi dwi-arrow-up dwi-arrow-up-hov dwi-arrow-up-dis ngen-pull-right ngen-bg-color-transparent"
                title="Move Up" ng-click="vm.moveUp()" ng-disabled="vm.moveUpAccessMode">
        </button>
      </div>

      <!--popup-content-body//-->
      <div class="popup-content-body">
        <div>
          <input type="text" ng-keyup="vm.onSearchContentKeyDown($event)" ng-model="vm.columnName"
                 placeholder="Search Column Name" class="ngen-pl-cc-search-input ngen-pull-left" tabindex="3"/>
          <button type="button" class="k-button ngen-pull-right ngen-pl-cc-search-button" ng-click="vm.searchColumn()"
                  ng-class="{'k-state-disabled':!vm.columnName}" ng-disabled="!vm.columnName" tabindex="4">Find
          </button>
        </div>

        <div class="ngen-pl-cc-grid-container ngen-pull-left">
          <div ngen-grid-navigation class="customize-columns-grid" k-navigatable="true"
               kendo-grid="vm.customizeColumnsGrid" k-ng-delay="vm.dataStore.CustomizeColumnLoaded"
               k-options="vm.customizeColumnGridOptions" tabindex="5">
          </div>
        </div>
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button type="button" class="k-button" ng-click="vm.customizeColumnOk()" tabindex="1">OK</button>
      <button type="button" class="k-button" ng-click="vm.customizeColumnCancel()" tabindex="2">Cancel
      </button>
    </div>

  </div>
</div>


