<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="duplicate-loan-window">

    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div class="ngen-popup-label">Select the duplication option:</div>
      <div class="duplicate-loan-controls-group ngen-pull-left">
        <div class="popup-option-row">
          <input name="duplicationOption" class="ngen-pull-left"
                 ng-disabled="vm.duplicateSelectedLoanDisabled"
                 ng-model="vm.loanDuplicateOption"
                 tabindex="5" type="radio" value="1"/><span>Duplicate the selected loan.</span>
        </div>
        <div class="popup-option-row">
          <input name="duplicationOption" class="ngen-pull-left"
                 ng-change="vm.selectedTemplate = null;"
                 ng-disabled="vm.duplicateSecondLienDisabled"
                 ng-model="vm.loanDuplicateOption" type="radio"
                 value="2"/><span>Create a second lien using the data from the selected loan.</span>
        </div>
        <div class="popup-option-row">
          <input name="duplicationOption" class="ngen-pull-left"
                 ng-change="vm.selectedTemplate = null;"
                 ng-model="vm.loanDuplicateOption"
                 type="radio" value="3"/><span>Create a second lien linked as a piggyback using the data from the selected loan.</span>
        </div>
      </div>
      <div class="ngen-popup-label">Select the folder for the new loan:</div>
      <div class="duplicate-loan-controls-group">
        <div class="duplicate-loan-label">
          <div class="ngen-full-width" kendo-drop-down-list k-options="vm.loanFolderDropdownOptions"
               ng-model="vm.selectedLoan" tabindex="3"></div>
        </div>
      </div>

      <div class="ngen-popup-label">Select the loan duplication template:</div>
      <div class="duplicate-loan-controls-group">
        <div class="duplicate-loan-label">
          <div class="ngen-full-width" kendo-drop-down-list k-options="vm.loanTemplateDropdownOptions"
               ng-model="vm.selectedTemplate"
               ng-disabled="vm.loanDuplicateOption != 1" tabindex="4"></div>
        </div>
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button is-default-enterkey-action="true" ng-click="vm.okClick()" tabindex="1" class="k-button"
              ng-disabled="vm.loanDuplicateOption === '1' && vm.mustUseTemplate
              && (vm.selectedTemplate === null || vm.selectedTemplate === ' ')">OK
      </button>
      <button class="k-button" ng-click="vm.cancelClick()" tabindex="2">Cancel</button>
    </div>

  </div>
</div>
