<div class="ngen-popup-content-container ngen-small-popup" ngen-key-navigation>
  <div class="move-folder-window">

    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div class="ngen-popup-label">Move selected loans into the following folder:</div>
      <div kendo-drop-down-list="vm.moveFolderDropdownData" class="ngen-full-width"
           k-options="vm.moveFolderDropdownOptions" ng-model="vm.moveLoanFolder"
           k-rebind="vm.PipelineDataStore.MoveLoanFolderList.items" tabindex="1">
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button class="k-button" kendo-button ng-click="vm.moveFolderOkClick()" tabindex="2">OK</button>
      <button class="k-button" kendo-button ng-click="vm.moveFolderCancelClick()" tabindex="3">Cancel</button>
    </div>
  </div>

</div>
