<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="manage-view-window">

    <div class="ngen-bordered-container">
      <!--popup-content-header//-->
      <div class="popup-content-header section-header">
        <span class="ngen-pull-left">Views ({{vm.pipelineViewListData.items.length}}) </span>
        <div class="ngen-pull-right">


          <button type="button" class="dwi dwi-duplicate dwi-duplicate-hov dwi-duplicate-dis ngen-bg-color-transparent"
                  title="Duplicate" ng-disabled="vm.isDuplicateDisabled" ng-click="vm.duplicateViewClick()">
          </button>

          <button type="button" class="dwi dwi-delete dwi-delete-hov dwi-delete-dis ngen-bg-color-transparent" title="Delete"
                  ng-disabled="vm.isDeleteDisabled" ng-click="vm.openDeleteDialog()">
          </button>
          <span class="k-separator"></span>
          <button type="button" class="k-button" ng-class="{'k-state-disabled':vm.isRenameDisabled}"
                  ng-disabled="vm.isRenameDisabled" ng-click="vm.renameClick()" tabindex="4">Rename
          </button>
          <button type="button" class="k-button" ng-class="{'k-state-disabled':vm.isSetAsdefaultDisabled}"
                  ng-click="vm.setDefault()" ng-disabled="vm.isSetAsdefaultDisabled" tabindex="3">Set As Default
          </button>



        </div>
      </div>

      <!--popup-content-body//-->
      <div class="popup-content-body">
        <div class="ngen-pl-cc-grid-container ngen-pull-left">
          <div ngen-grid-navigation ngengridrowmaxcount="13" class="manage-view-grid" kendo-grid="vm.ManageViewGrid"
               k-on-change="vm.gridSelectionChange(data)"
               k-ng-delay="vm.pipelineViewButtons.ManageViewListLoaded" k-rebind="vm.pipelineViewListData.items" k-options="vm.mangeViewGridOptions"
               ng-keyup="vm.onKeynavigation($event)"
               k-navigatable="true" tabindex="2"></div>
          </div>
        </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button type="button" name="close" class="k-button ngen-pull-right" ng-click="vm.closePopUp();" tabindex="1">Close</button>
    </div>

  </div>
</div>

