<div ng-controller="PipelineMainController as vm" class="ngen-container pipeline-main-page">
  <div class="ngen-pipeline-utility-container">
    <div class="ngen-well-stripped ngen-no-padding" pipeline-view></div>
    <div class="ngen-well-stripped page-header-sub" loan-folder></div>
    <div class="ngen-well-stripped page-header-sub" pipeline-filters></div>
    <advance-filter></advance-filter>
    <div class="ngen-well-stripped ngen-toolbar-container section-header" pipeline-grid-toolbar></div>
  </div>
  <div pipeline-grid id="ngen-pipeline-grid-container"></div>
  <div class="ngen-maxloan-alert">
    <alert ng-repeat="alert in vm.alerts" close="vm.closeAlert($index)">
      <div class="ngen-max-Loan-title">
        {{alert.alertTitle}}
      </div>
      <div class="ngen-max-Loan-Message">
        {{alert.alertMsg}}
      </div>
    </alert>
  </div>
</div>
