<div ng-controller="PipelineFiltersController as vm">
  <div class="ngen-label">Filters:</div>
  <div ngen-ellipsis class="ngen-label ngen-filter-text" ng-bind="vm.dataStore.filterSummary" ng-attr-title="{{vm.dataStore.filterSummary}}"></div>
  <div class="k-button-group ngen-filter-button-group">
    <button class="k-button" ng-click="vm.notifyUser()" ng-disabled="vm.dataStore.notifyButtonDisabled"
            tabindex="12">Notify Users
    </button>
    <button type="button" class="k-button" ng-click="vm.advanceFilter()" tabindex="13">Advanced Filter</button>
    <button type="button" class="k-button" ng-click="vm.clearAllFilters()"
            ng-disabled="!vm.dataStore.PipelineGridData.filters || vm.dataStore.PipelineGridData.filters.length <= 0"  tabindex="17">
      Clear
    </button>
  </div>
</div>

