<div ng-controller="PipelineViewController as vm">

  <div class="page-header x-temp-page-header">

    <div class="ngen-line-height-22px ngen-row-space ngen-pull-left">Pipeline View</div>

    <!-- Select View Dropdown -->
    <div class="pipelineViewDropdown ngen-row-space" kendo-drop-down-list="vm.pipelineViewDropdown"
         k-options="vm.pipelineViewDropdownOptions" k-ng-model="vm.pipelineViewDropdownData.selectedItem"
         k-rebind="vm.pipelineViewDropdownData.items" tabindex="1"></div>
    <!-- Save Button -->
    <button type="button" class="dwi dwi-save dwi-save-hov dwi-save-dis ngen-row-space-half" title="Save View"
            ng-click="vm.saveButtonClicked()" ng-disabled="vm.pipelineViewButtonsData.saveButtonDisabled" tabindex="2">
    </button>
    <!-- Reset View Button -->
    <button type="button" class="dwi dwi-reset dwi-reset-hov dwi-reset-dis ngen-row-space-half" title="Reset View"
            ng-click="vm.resetButtonClicked()" ng-disabled="vm.pipelineViewButtonsData.resetButtonDisabled"
            tabindex="3">
    </button>

    <!-- Manage View Button -->
    <button type="button" class="dwi dwi-manage-view dwi-manage-view-hov dwi-manage-view-dis"
            title="Manage Views" ng-click="vm.manageViewButtonClicked()" ng-disabled="vm.manageViewButtonDisable"
            tabindex="4">
    </button>

    <!-- Loan Mailbox Button -->
    <div class="loan-mailbox-btn-container ngen-pull-right ngen-row-space-half">
      <div class="pl-envelope-box ngen-pull-left dwi dwi-new-message dwi-new-message-hov ngen-row-space-half"
           ng-show="vm.pipelineLoanMailCount.data.mailCount"
           ng-click="vm.openLoanMailBox()"
           ng-keydown="vm.openLoanMailBox($event)"
           tabindex="5">
        {{vm.pipelineLoanMailCount.data.mailCount}}
      </div>
      <div class="pl-loan-mailbox ngen-pull-right" ng-click="vm.openLoanMailBox()"
           ng-keydown="vm.openLoanMailBox($event)" tabindex="6">Loan Mailbox
      </div>
    </div>
  </div>

</div>
