<div ng-controller="PipelineGridToolbarController as vm">
  <div class="k-button-group ngen-pull-right">
    <!-- new loan -->
    <button type="button" class="dwi dwi-new dwi-new-hov dwi-new-dis ngen-row-space-half ngen-bg-color-transparent" title="New Loan"
            ng-click="vm.openNewLoanPopUp()" ng-show="!vm.isDisableNewLoan" tabindex="18"/>
    <!-- edit loan -->
    <button type="button" class="dwi dwi-edit dwi-edit-hov dwi-edit-dis ngen-row-space-half ngen-bg-color-transparent" title="Edit Loan"
            ng-click="vm.editLoanClicked()" ng-disabled="vm.pipelineViewDataStore.editLoanButtonDisabled"
            tabindex="19"/>
    <!-- duplicate loan -->
    <button type="button" class="dwi dwi-duplicate dwi-duplicate-hov dwi-duplicate-dis ngen-row-space-half ngen-bg-color-transparent"
            title="Duplicate Loan" ng-click="vm.duplicateButtonClicked()"
            ng-show="vm.showDuplicateLoanButton"
            ng-disabled="vm.pipelineViewDataStore.duplicateButtonDisabled" tabindex="20"/>
    <!-- delete loan -->
    <button type="button" class="dwi dwi-delete dwi-delete-hov dwi-delete-dis ngen-row-space-half ngen-bg-color-transparent" title="Delete Loan"
            ng-show="vm.pipelineViewDataStore.deleteLoanAccess" ng-click="vm.deleteLoanButtonClicked()"
            ng-disabled="vm.pipelineViewDataStore.deleteIconDisabled" tabindex="21"/>
    <!-- refresh pipeline -->
    <button type="button" class="dwi dwi-refresh dwi-refresh-hov dwi-refresh-dis  ngen-row-space-half ngen-bg-color-transparent" title="Refresh"
            ng-show="true" ng-click="vm.refreshPipelineClicked()" ng-disabled="" tabindex="22"/>
    <!-- export to excel -->
    <button type="button" class="dwi dwi-excel dwi-excel-hov dwi-excel-dis ngen-row-space-half ngen-bg-color-transparent" title="Export to Excel"
            ng-click="vm.exportToExcel(false)" ng-disabled="vm.pipelineViewDataStore.excelButtonDisabled"
            ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_ExportToExcel"
            tabindex="23"/>
    <!-- print button -->
    <button type="button" class="dwi dwi-print dwi-print-hov dwi-print-dis ngen-row-space-half ngen-bg-color-transparent" title="Print Forms"
            ng-show="vm.pipelineViewDataStore.PrintLoanAccess" ng-click="vm.openPrintDialog()"
            ng-disabled="vm.pipelineViewDataStore.printButtonDisabled" tabindex="24"/>
    <!-- separator -->
    <span class="k-separator ngen-row-space-half"></span>
    <!-- move to folder -->
    <button type="button" class="k-button" ng-click="vm.moveToFolderClicked()"
            ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_Move &&
            vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem !== vm.pipelineConstants.TrashFolder"
            ng-disabled="vm.pipelineViewDataStore.moveToFolderButtonDisabled"
            tabindex="25"><u>M</u>ove to Folder
    </button>
    <!-- restore to folder -->
    <button type="button" class="k-button" ng-click="vm.restoreToFolderClicked()"
            ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt['LoanMgmt_TF_Restore'] &&
            vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder"
            ng-disabled="vm.pipelineViewDataStore.moveToFolderButtonDisabled"
            tabindex="26">Restore to Folder
    </button>
    <button type="button" class="k-button" ng-click="vm.openTransferLoanPopUp()"
            ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_Transfer"
            ng-disabled="vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder ||
            vm.pipelineViewDataStore.transferButtonDisabled" tabindex="27">
      Transfer
    </button>
  </div>
</div>
