<div ng-show="vm.ds.AdvanceFilterShow" ngen-show="vm.ds.AdvanceFilterShow" after-hide="vm.resizeGrid()"
     after-show="vm.resizeGrid()"
     class="advance-filter-container">
  <form name="formAdvanceFilter" novalidate>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading section-header">Filter Logic</div>
          <div class="panel-body adf-filter-logic-body" ng-show="vm.readyFilters.length > 0">
            <div class="adf-filter-label">
              Drag the parentheses icons to apply filter logic.
          <span class="parentheses adf-double-parentheses-normal-hide">
            <div ng-drag="true"
                 class="dwi dwi-icon-parenthesis"
                 ng-drag-data="{type:'parentheses',allowClone:true}">
            </div>
            <div ng-drag-clone=""></div>
          </span>
            </div>
            <div class="adf-filter-row">
              <div ng-repeat-start="filter in vm.readyFilters">
                <span ng-repeat="parenStart in filter.parenStartList"
                      ng-class="((filter.parenColor.selected != undefined ? filter.parenColor.selected : -1) == parenStart) ? 'dwi dwi-icon-parenthesis-left' : 'adf-single-parentheses-normal'"
                      ngen-click-outside-paren
                      ng-drag="true"
                      ng-drag-data="{type:'leftParentheses',index:vm.readyFilters.indexOf(filter),val:parenStart,allowClone:false }"
                      ng-click="vm.removeParen(filter,parenStart)"><div
                  class="adf-filter-close-btn" ng-click="vm.deleteParen(parenStart, filter, true)"></div><span
                  class="adf-single-parentheses-pointer"> (</span> </span>
                <!--Item Start-->
                <span ng-drop="true" class="adf-filter-item" ng-drop-success="vm.onParanDropComplete($index, $data)"
                      ng-init="vm.setParen($index)"
                      ng-attr-title="{{' '+ filter.Header +' '+ filter.OpName +' '+ filter.FilterLogicValue +' '}}">{{' '+ filter.Header +' '+ filter.OpName +' '+ filter.FilterLogicValue +' '}}
                </span>
                <!--Item End-->
              </div>
              <div ng-repeat-end="" class="ngen-andor-container">
                <span ng-repeat="paren in filter.parenEndList"
                      ng-class=" ((vm.readyFilters[paren].parenColor.selected != undefined ? vm.readyFilters[paren].parenColor.selected : -1) == vm.readyFilters.indexOf(filter)) ? 'dwi dwi-icon-parenthesis-right' : 'adf-single-parentheses-normal'"
                      ngen-click-outside-paren
                      ng-drag="true"
                      ng-drag-data="{type:'rightParentheses',index:vm.readyFilters.indexOf(filter),val:paren,allowClone:false}"
                      ng-click="vm.removeParen(vm.readyFilters[paren],vm.readyFilters.indexOf(filter))"><div
                  class="adf-filter-close-btn" ng-click="vm.deleteParen(paren, filter, false)"></div><span
                  class="adf-single-parentheses-pointer"> )</span>
                </span>
              <span class="adf-filter-operator" ng-drop="true" ng-drop-success="vm.onParanDropComplete($index, $data)">

              <ngen-drag-operator filter-values={{vm.filters}}></ngen-drag-operator>

                <div ng-switch on="($index == vm.readyFilters.length-1).toString()">
                  <div ng-switch-when="true"></div>
                  <div ng-switch-when="false">
                    <div class="ngen-andorswitch">
                      <input type="checkbox" name="ngen-andorswitch" class="ngen-andorswitch-checkbox"
                             ng-attr-id="{{ 'adandorswitch' + $index }}" ng-checked="filter.JointToken === 'or'"
                             ng-click="vm.onAndOrClicked($event, $index)">
                      <label class="ngen-andorswitch-label" ng-attr-for="{{ 'adandorswitch' + $index }}">
                        <span class="ngen-andorswitch-inner"></span>
                        <span class="ngen-andorswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                  <div ng-switch-default></div>
                </div>

            </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default adf-wrapper">
          <div class="panel-heading section-header">Filter</div>
          <div id="filterbox" class="panel-body filter-box-scroll">
            <div class="filter-box-container">
              <div ng-repeat="filter in vm.filters" ng-drop="true"
                   ng-drop-success="vm.onDropComplete($index, $data,$event)" class="adf-pull-left">
                <div ng-class="{'drag-drop-icon-active': dragDropIconState === 'active' && !dragActive && vm.filters.length > 1,
                  'adf-filter-panel-hover':vm.filterBoxClassName ==='enter' && vm.filterIndex === $index && !dragActive && vm.filters.length > 1}"
                     ng-mousedown="dragDropIconState='active'" ng-mouseup="dragDropIconState='inactive'"
                     class="well adf-filter-panel" ng-drag="vm.filters.length > 1 ? true : false" ng-drag-data="filter">
                  <div class="filter-box">
                    <div class="pull-left ngen-row-space">
                      <label>Field</label>
                      <input ng-cancel-drag class="txtparam field-background" type="text" ng-model="filter.FieldID"
                             style="z-index:10;" ng-required="true" title="{{filter.FieldID}}"
                             ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                             ng-change="vm.searchFilter($index)" ng-model-options="{ updateOn: 'blur' }"/>
                      <button type="button"
                              class="dwi dwi-search dwi-search-hov dwi-search-dis ngen-pl-search-icon ngen-bg-color-transparent"
                              ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                              ng-click="vm.addField($index)"></button>
                    </div>
                    <div class="pull-left ngen-row-space">
                      <label>Description</label>
                      <input ng-cancel-drag class="txtparam input-readonly" type="text" readonly="readonly"
                             ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                             ng-model="filter.Header" title="{{filter.Header}}"/>
                      <any ng-if="filter.AdvFilterType === 'DATE-TIME'">
                        <br/>
                        <input type="checkbox" ng-click="vm.onCheckBoxSelect($event,filter)"
                               ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                               class="ngen-popup-checkbox" ng-checked="filter.FieldType === 'IsMonthDay'"
                               ng-model="filter.IsDateRecurring">
                        <label>Date is recurring (Disregard the year)</label>
                      </any>
                    </div>
                    <div class="pull-left ngen-row-space"
                         ng-mousedown="dragActive = true" ng-mouseup="dragActive = false">
                      <label>Operator</label>
                      <select class="operatorDropdown" ng-if="filter.AdvFilterType !== 'YN'" ng-cancel-drag
                              ng-model="filter.OpType"
                              ng-change="vm.selectChange(filter)" ng-blur="vm.onFilterItemReady()" ng-required="true">
                        <option value="">Select</option>
                        <option ng-selected="opt.value === filter.OpType"
                                ng-repeat="opt in filter.OperatorOptions"
                                value="{{opt.value}}">{{opt.name}}
                        </option>
                      </select>
                      <select class="operatorDropdown" ng-if="filter.AdvFilterType === 'YN'" ng-cancel-drag
                              ng-model="filter.ValueFrom"
                              ng-change="vm.selectChange(filter)" ng-blur="vm.onFilterItemReady()" ng-required="true">
                        <option value="">Select</option>
                        <option ng-selected="opt.value === filter.ValueFrom"
                                ng-repeat="opt in filter.OperatorOptions"
                                value="{{opt.value}}">{{opt.name}}
                        </option>
                      </select>
                    </div>
                    <any ng-switch on="filter.AdvFilterType"
                         ng-mousedown="dragActive = true" ng-mouseup="dragActive = false">
                      <any ng-switch-when="DATE-TIME">
                        <div class="pull-left ngen-row-space adf-split-width">
                          <label
                            ng-show="!(filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween') && vm.dateAllowedOnly[filter.OpType]">Value</label>
                          <label
                            ng-show="filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween'">Minimum</label>
                          <input kendo-date-picker="vm.DateFrom" ng-model="filter.ValueFrom"
                                 k-format="'MM/dd/yyyy'" ng-show="vm.dateAllowedOnly[filter.OpType]"
                                 ng-required="!(filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween') && vm.dateAllowedOnly[filter.OpType]"
                                 ng-blur="vm.onFilterItemReady()" class="adf-split-column-date"/>
                        </div>
                        <div class="pull-left adf-split-width">
                          <label
                            ng-show="filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween'">Maximum</label>
                          <input kendo-date-picker="vm.DateTo" ng-model="filter.ValueTo"
                                 ng-show="filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween'"
                                 k-format="'MM/dd/yyyy'"
                                 ng-required="filter.OpType == 'DateBetween' || filter.OpType == 'DateNotBetween'"
                                 ng-blur="vm.onFilterItemReady()" class="adf-split-column-date"/>
                        </div>
                      </any>
                      <any ng-switch-when="INTEGER">
                        <div class="pull-left ngen-row-space adf-split-width">
                          <label ng-hide="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">Value</label>
                          <label ng-show="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">Minimum</label>
                          <input ng-cancel-drag ngen-numeric-cancel-drag
                                 kendo-numeric-text-box k-spinners="false" k-format="'n0'" k-decimals="0" k-step="0"
                                 ng-model="filter.ValueFrom"
                                 ng-class="{'adf-split-column': filter.OpType == 'Between' || filter.OpType == 'NotBetween'}"
                                 ng-blur="vm.onFilterItemReady()" ng-required="true" class="filter-value-numeric-text"
                                 title="{{filter.ValueFrom}}"/>
                        </div>
                        <div class="pull-left adf-split-width">
                          <label ng-show="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">Maximum</label>
                          <input ng-cancel-drag type="text" number-only-input ng-model="filter.ValueTo"
                                 ng-class="{'adf-split-column': filter.OpType == 'Between' || filter.OpType == 'NotBetween'}"
                                 ng-if="filter.OpType == 'Between' || filter.OpType == 'NotBetween'"
                                 ng-blur="vm.onFilterItemReady()" title="{{filter.ValueTo}}"
                                 ng-required="true" class="filter-value-text"/>
                        </div>
                      </any>
                      <any ng-switch-when="DECIMAL">
                        <div class="pull-left ngen-row-space adf-split-width">
                          <label ng-hide="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">Value</label>
                          <label ng-show="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">Minimum</label>
                          <input ng-cancel-drag ngen-numeric-cancel-drag
                                 kendo-numeric-text-box k-spinners="false" k-format="filter.format"
                                 k-decimals="filter.decimals" k-step="0"
                                 ng-model="filter.ValueFrom"
                                 ng-class="{'adf-split-column': filter.OpType == 'Between' || filter.OpType == 'NotBetween'}"
                                 ng-required="true" title="{{filter.ValueFrom}}"
                                 ng-blur="vm.onFilterItemReady()" class="filter-value-numeric-text"/>
                        </div>
                        <div class="pull-left adf-split-width"
                             ng-if="filter.OpType == 'Between' || filter.OpType == 'NotBetween'">
                          <label>Maximum</label>
                          <input ng-cancel-drag ngen-numeric-cancel-drag
                                 kendo-numeric-text-box k-spinners="false" k-format="filter.format"
                                 k-decimals="filter.decimals" k-step="0"
                                 ng-model="filter.ValueTo"
                                 ng-class="{'adf-split-column': filter.OpType == 'Between' || filter.OpType == 'NotBetween'}"
                                 ng-required="filter.OpType == 'Between' || filter.OpType == 'NotBetween'"
                                 ng-blur="vm.onFilterItemReady()" class="filter-value-numeric-text"
                                 title="{{filter.ValueTo}}"/>
                        </div>
                      </any>
                      <any ng-switch-when="DROPDOWN">
                        <div class="pull-left ngen-row-space">
                          <label>Options</label>
                          <ngen-multi-select ng-mouseleave="vm.validateMultiSelect();" ng-cancel-drag
                                             name="ngenSelectList" data="filter.FieldOptions"
                                             label="filter.DropDownLabel"
                                             selected="filter.ValueFrom"></ngen-multi-select>
                        </div>
                      </any>

                      <!--Todo: Need to add more switch cases for other datatypes like DROPDOWN, PHONE, etc -->
                      <any ng-switch-when="YN">
                        <!--No need to show anything for YES NO options fields -->
                      </any>
                      <any ng-switch-default>
                        <div class="pull-left ngen-row-space">
                          <label>Value</label>
                          <input ng-cancel-drag type="text" ng-model="filter.ValueFrom" ng-required="true"
                                 ng-blur="vm.onFilterItemReady()" class="filter-value-text"
                                 title="{{filter.ValueFrom}}"/>
                        </div>

                      </any>
                    </any>
                    <!--/*To Confirm whether to remove or keep it*/-->

                    <!--Need to remove and-or select div from the filter section after and-or button is ready-->
                    <!--               <div class="pull-left ngen-row-space">
                                       <br>
                                       <select ng-cancel-drag ng-show="($index+1) < vm.filters.length" ng-model="filter.JointToken"
                                               ng-options="oa for oa in ['and','or']"></select>

                                   </div>-->
                    <div ng-class="{'adf-icons-div-large':filter.AdvFilterType === 'DATE-TIME',
                    'adf-icons-div':filter.AdvFilterType !== 'DATE-TIME'}">
                      <button type="button" ng-cancel-drag
                              class="dwi dwi-advanced-filter-minus minus-icon-advance-filter ngen-bg-color-transparent"
                              ng-click="vm.removeFilter($index=vm.filters.indexOf(filter))"
                              ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                              ng-disabled="vm.filters.length <= 1"></button>
                      <button type="button" ng-cancel-drag
                              class="dwi dwi-advanced-filter-plus plus-icon-advance-filter ngen-bg-color-transparent"
                              ng-mousedown="dragActive = true" ng-mouseup="dragActive = false"
                              ng-click="vm.addFilter($index)"></button>
                      <div ng-init="dragDropIconState = 'inactive'; dragActive = false" class="drag-drop-icon"
                           ng-mouseenter="vm.changeFilterBoxBorder('enter',$index)"
                           ng-mouseleave="vm.changeFilterBoxBorder('leave',$index)"
                           ng-mousedown="dragDropIconState='active'" ng-mouseup="dragDropIconState='inactive'"
                           ng-class="{'dwi dwi-draghandle': dragDropIconState === 'inactive',
                                      'dwi dwi-draghandle-click': dragDropIconState === 'active',
                                      'dwi disable-cursor': vm.filters.length <= 1}">
                      </div>
                    </div>
                  </div>

                </div>
                <div class='horizontal-row-drop-area-indicator'></div>
              </div>
            </div>
          </div>
          <div class="adf-footer">
            <button ng-click="vm.clickCancel()" tabindex="16" class="k-button adf-cancel-btn">Cancel</button>
            <button ng-click="vm.clickApply()" tabindex="15"
                    ng-disabled="(formAdvanceFilter.$invalid) || (vm.filters.length < 1 || vm.readyFilters.length < 1 || vm.multiSelectInvalid)"
                    class="k-button adf-apply-btn">Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
