<div ng-controller="PipelineGridController as vm" id="ngen-pipeline-grid">
  <div ngen-grid-navigation ng-style="style()" ngen-resize="ngen-pipeline-grid-container" grid-offset-height="0"
       class="pipeline-grid-style"
       k-navigatable="true"
       kendo-grid="vm.pipelineGrid"
       k-options="vm.pipelineGridOptions"
       k-rebind="vm.pipelineViewDataStore.PipelineGridData.data"
       k-ng-delay="vm.pipelineViewDataStore.PipelineGridData.viewLoaded"
       k-on-change="vm.gridSelectionChange(data)"></div>

  <div>
    <ul kendo-context-menu k-options="vm.gridHeaderContextMenuOptions" k-on-select="vm.openCustomizeColumnWindow()"
        class="ngen-context-menu">
      <li>Customize Columns...</li>
    </ul>
  </div>
  <div>
    <ul kendo-context-menu k-options="vm.gridBodyContextMenuOptions" class="ngen-context-menu">
      <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder ||
      vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.ArchiveFolder}"
          ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_CreateBlank || vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_CreateFromTmpl"
          ng-click="vm.openNewLoan()">New Loan...
      </li>

      <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.editLoanButtonDisabled}" ng-click="vm.cmEditLoan()">
        Edit Loan...
      </li>

      <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.duplicateButtonDisabled}"
          ng-click="vm.duplicateLoan()"
          ng-show="vm.showDuplicateLoanButton">
        Duplicate Loan...
      </li>
      <li class="k-separator"></li>
      <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.moveToFolderButtonDisabled}" ng-show="vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder ?
        vm.pipelineViewDataStore.PersonaAccess.LoanMgmt['LoanMgmt_TF_Restore'] : vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_Move">
        {{vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder ?
        vm.pipelineConstants.RestoreToFolderText : vm.pipelineConstants.MoveToFolderText;}}
        <ul>
          <li class="k-item k-state-default" ng-repeat="folder in vm.moveFolderDropdownSource"
              ng-click="vm.callMoveToFolder(folder)"><span class="k-link">{{folder}}</span></li>
        </ul>
      </li>
      <li
          ng-class="{'k-state-disabled': vm.pipelineViewDataStore.LoanFolderDropdownData.selectedItem === vm.pipelineConstants.TrashFolder}"
          ng-click="vm.openTransferLoan()" ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_Transfer">
        Transfer...
      </li>
      <li ng-click="vm.deleteLoan()" ng-show="vm.pipelineViewDataStore.deleteLoanAccess">Delete Loan</li>
      <li class="k-separator"></li>
      <li ng-click="vm.refreshPipeline()">Refresh</li>
      <li ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_ExportToExcel">Export to Excel
        <ul>
          <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.excelButtonDisabled}"
              ng-click="vm.exportToExcel(false)"
              ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_ExportToExcel">Selected Loans Only
          </li>

          <li ng-class="{'k-state-disabled': vm.pipelineViewDataStore.excelButtonDisabled}"
              ng-click="vm.exportToExcel(true)"
              ng-show="vm.pipelineViewDataStore.PersonaAccess.LoanMgmt.LoanMgmt_ExportToExcel">All Loans on All Pages
          </li>
        </ul>
      </li>
      <li ng-click="vm.openPrint()" ng-show="vm.pipelineViewDataStore.PrintLoanAccess">Print Forms...</li>
      <li ng-click="vm.openLoanAlert('Alerts.AlertCount')"
          ng-class="{'k-state-disabled':vm.pipelineViewDataStore.PipelineGridData.selected.length !== 1}">Manage
        Alerts...
      </li>
      <li class="k-separator"></li>
      <li>eFolder Documents
        <ul>
          <li>Export Documents(s)
            <ul>
              <li ng-click="vm.eFolderExport(false);">Selected Loans Only...</li>
              <li class="k-separator"></li>
              <li ng-click="vm.eFolderExport(true);">All Loans on All Pages...</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="k-separator"></li>
      <li>Investor Services
        <ul>
          <li ng-show="vm.isDisableInvestorServices">Export ULDD to Fannie Mae
            <ul>
              <li ng-click="vm.investorExport(false, vm.DataServiceFannie)">Selected Loans Only...</li>
              <li ng-click="vm.investorExport(true, vm.DataServiceFannie)">All Loans on All Pages...</li>
            </ul>
          </li>
          <li ng-show="vm.isDisableInvestorServices">Export ULDD to Freddie Mac
            <ul>
              <li ng-click="vm.investorExport(false, vm.DataServiceFreddie)">Selected Loans Only...</li>
              <li ng-click="vm.investorExport(true, vm.DataServiceFreddie)">All Loans on All Pages...</li>
            </ul>
          </li>
          <li ng-click="vm.exportFannieMaeFormattedFile()" ng-show="vm.isDisableInvestorServices">Export Fannie Mae formatted file</li>
        </ul>
      </li>
      <li ng-show="vm.isDisableComplianceServices">Compliance Services
        <ul>
          <li>Export to LEF
            <ul>
              <li ng-click="vm.exportLEFPipeline(false)">Selected Loans Only...</li>
              <li class="k-separator"></li>
              <li ng-click="vm.exportLEFPipeline(true)">All Loans on All Pages...</li>
            </ul>
          </li>
          <li class="k-separator" ng-show="vm.isDisableGenerateNMLSReport"></li>
          <li ng-click="vm.generateNMLSReport()" ng-show="vm.isDisableComplianceServices && vm.isDisableGenerateNMLSReport">Generate NMLS Call Report</li>
          <li class="k-separator" ng-show="vm.isNorthCarolinaReportEnable"></li>
          <li ng-click="vm.generateNCMLDReport()" ng-show="vm.isNorthCarolinaReportEnable">
            Generate North Carolina Compliance Report
          </li>
        </ul>
      </li>
      <li class="k-separator"></li>
      <li ng-click="vm.displayLoanProperties()"
          ng-class="{'k-state-disabled':vm.pipelineViewDataStore.PipelineGridData.selected.length !== 1}">Properties...
      </li>
      <li ng-click="vm.selectAllLoans()">Select All on This Page</li>
    </ul>
  </div>
</div>

<context-menu-loan-borrower-name></context-menu-loan-borrower-name>
<context-menu-loan-co-borrower-name></context-menu-loan-co-borrower-name>
<context-menu-loan-lock-and-request-status></context-menu-loan-lock-and-request-status>
<context-menu-loan-lock-status></context-menu-loan-lock-status>
<context-menu-fields11></context-menu-fields11>
<context-menu-current-loan-associate-full-name></context-menu-current-loan-associate-full-name>
<context-menu-fields317></context-menu-fields317>
<context-menu-fields362></context-menu-fields362>
