<div class="ngen-popup-content-container ngen-small-popup" ngen-key-navigation close-on-escapekey-action="true">
  <div class="rebuild-load-properties-window">

    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div class="popup-option-row">
        <span class="ngen-label">GUID:</span>{{vm.loanProperties.GUID}}
      </div>
      <div class="popup-option-row">
        <span class="ngen-label">Loan Folder:</span>{{vm.loanProperties.loanFolder}}
      </div>
      <div class="popup-option-row">
        <span class="ngen-label">Loan Name:</span>{{vm.loanProperties.loanName}}
      </div>
      <div class="popup-option-row">
        <span class="ngen-label">Size(B):</span>{{vm.loanProperties.size}}
      </div>
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button class="k-button ngen-pull-left" type="button"  ng-click="vm.rebuildLoanClick()" tabindex="1">Rebuild</button>
      <button class="k-button ngen-pull-right" type="button"  ng-click="vm.closeLoanProperties()" tabindex="2">OK</button>
    </div>
  </div>
</div>
