<div class="ngen-popup-content-container ngen-small-popup" ngen-key-navigation>
  <div class="rename-view-window">

    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div class="ngen-pull-left ngen-viewname-label">View Name</div>
      <input type="text" maxlength="260" class="ngen-pull-left ngen-view-name-input-box" ng-model="vm.renameValue" name="viewName" tabindex="1" ng-keydown=
        "vm.eventHandler($event)">
    </div>

    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button type="button" class="k-button" ng-click="vm.okClick()" is-default-enterkey-action="true" tabindex="2">
        OK
      </button>
      <button type="button" class="k-button" ng-click="vm.closePopUp()" tabindex="3">Cancel</button>
    </div>
  </div>

</div>
