<div class="ngen-popup-content-container" ngen-key-navigation close-on-escapekey-action="true">
  <div class="save-view-window">
    <!--popup-content-body//-->
    <div class="popup-content-body">
      <div class="popup-text-content">
        Save a custom "Pipeline view" to control the loans that display on your Pipeline. A Pipeline view can consist of the Pipeline columns to display, the sort order of the column data, a search criteria, and the All Loans or My Loans indicator.
      </div>
      <div class="popup-text-content">
        After managing the columns, sorting the data, applying search criteria, or selecting All Loans or My Loans (where applicable), save the new configuration as a new custom view.
      </div>
      <div class="popup-text-content">
        Once you save a view, you can select it at any time from the Pipeline View list to apply the criteria to your Pipeline.
      </div>
      <div class="popup-option-row">
        <input class="ngen-pull-left" name="saveViewOption" ng-model="vm.saveViewSelectedOption" tabindex="1" type="radio" value="0" ng-disabled="vm.systemViewType"/><span>Update the current view</span>
      </div>
      <div class="popup-option-row">
        <input class="ngen-pull-left" name="saveViewOption" ng-model="vm.saveViewSelectedOption" type="radio" value="1"><span class="pull-left">Save as</span>
        <input class="ngen-pull-left" ng-disabled="vm.saveViewSelectedOption != 1" ng-model="vm.saveAsViewName" type="text">
      </div>
      <div class="popup-option-row">
        <input class="ngen-pull-left" ng-model="vm.setAsDefaultView" ng-true-value="true" ng-false-value="false" tabindex="4" type="checkbox"><span>Set as my default view</span>
      </div>
    </div>
    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button is-default-enterkey-action="true" ng-click="vm.okClick()" tabindex="2" type="button">Save</button>
      <button ng-click="vm.cancelClick()" tabindex="3" type="button">Cancel</button>
    </div>
  </div>
</div>

