<div class="ngen-popup-content-container" ngen-key-navigation
     close-on-escapekey-action="false">
  <div class="tpo-companies-window">

    <div class="ngen-pl-tc-grid-container">
      <div ngen-grid-navigation class="tpo-companies-grid" k-navigatable="true"
           kendo-grid="vm.tpoCompaniesGrid" k-rebind="vm.tpoCompaniesData.items"
           k-options="vm.tpoCompaniesGridOptions" tabindex="3"
           k-on-change="vm.gridSelectionChange(data)">
      </div>
    </div>
    <!--popup-content-footer//-->
    <div class="popup-content-footer">
      <button type="button" class="k-button" ng-click="vm.tpoCompaniesOk()" tabindex="1"
              ng-disabled="vm.tpoCompaniesData.selected.length !== 1">OK
      </button>
      <button type="button" class="k-button" ng-click="vm.tpoCompaniesCancel()" tabindex="2">Cancel
      </button>
    </div>

  </div>
</div>


